//noinspection CssInvalidAtRule
@import-normalize;
@import "helper";

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;

}

button, input {
  font: inherit;
}

:focus {
  outline: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
